.container {
  border: 1px red solid;
  margin: 2em;
}

.mult span {
  color: white;
  font-size: 3em;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
